@charset "UTF-8";
body,
html {
  padding: 0;
  margin: 0;
  font-family: "Sulphur Point", sans-serif;
  min-height: 100vh;
  background-color: #182231;
}

.container-fluid {
  overflow: hidden;
}

.intro-wrap {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: top;
          align-items: top;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
}

.min-menu {
  height: 10vh;
  padding-top: 20px;
  padding-bottom: 20px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: justify;
          justify-content: space-between;
  padding-left: 10vw;
  padding-right: 5vw;
}
@media (max-width: 560px) {
  .min-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    min-height: 150px;
    padding-left: 0;
    padding-right: 0;
  }
}
.min-menu .logo {
  font-family: "Reenie Beanie", cursive;
  color: white;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  flex-direction: row;
  font-size: 55px;
}
@media (max-width: 560px) {
  .min-menu .logo {
    font-size: 30px;
  }
}
.min-menu .logo img {
  height: 55px;
}
@media (max-width: 400px) {
  .min-menu .logo img {
    height: 30px;
  }
}
.min-menu .logo .logo-text {
  font-size: 40px;
  color: #797878;
}
.min-menu a {
  text-decoration: none;
  color: white;
  margin-left: 15px;
}
.min-menu a:hover {
  color: #ff9770;
}
@media (max-width: 560px) {
  .min-menu .min-menu-przyciski {
    margin-top: 15px;
  }
}
.min-menu .min-menu-register {
  background-color: #3b98d5;
  color: white;
  padding: 15px;
  border-radius: 12px;
}
.min-menu .min-menu-auth {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-align: center;
          align-items: center;
}
.min-menu .min-menu-auth a, .min-menu .min-menu-auth .nick {
  margin-left: 10px;
  margin-right: 10px;
}
.min-menu .min-menu-auth .nick {
  color: white;
}
@media (max-width: 560px) {
  .min-menu .min-menu-auth .nick {
    display: none;
  }
}

.portal {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  height: 10vh;
  color: white;
  font-family: "Amiri", serif;
  font-size: 40px;
  position: absolute;
  bottom: 50px;
  left: 0;
  right: 0;
  text-shadow: 2px 2px 20px #454545;
  color: #ff9770;
  margin: auto;
}
@media (max-width: 750px) {
  .portal {
    font-size: 25px;
  }
}

.opis {
  min-height: 90vh;
  padding-bottom: 50px;
  background-image: url("/layout/pensil.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 10vw;
  padding-right: 10vw;
  padding-top: 5vh;
  color: white;
  font-size: 20px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}
@media (max-width: 750px) {
  .opis {
    font-size: 16px;
  }
}
.opis h1 {
  padding-bottom: 0;
  margin-bottom: 0;
}
.opis .opis-tekst {
  color: white;
  width: 40vw;
}
@media (max-width: 1400px) {
  .opis .opis-tekst {
    width: 80vw;
  }
}
.opis .opis-tekst hr {
  border: solid 3px #ff9770;
}
.opis .instrukcja {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: start;
          align-items: flex-start;
  justify-content: space-around;
  width: 40vw;
}
@media (max-width: 1400px) {
  .opis .instrukcja {
    width: 80vw;
  }
}
.opis .instrukcja .obrazek {
  margin-top: 50px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
}
.opis .instrukcja .obrazek-tekst {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  height: 60px;
  width: 350px;
  padding: 20px;
  background-color: #182231;
  text-align: center;
  border-bottom-left-radius: 12px;
  border-top-left-radius: 12px;
}
@media (max-width: 580px) {
  .opis .instrukcja .obrazek-tekst {
    width: 65%;
  }
}
.opis .instrukcja .obrazek-zdj {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  width: 150px;
  height: 60px;
  padding: 20px;
  background-color: #ff9770;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}
@media (max-width: 580px) {
  .opis .instrukcja .obrazek-zdj {
    width: 35%;
  }
}
.opis .instrukcja .obrazek-zdj img {
  height: 80px;
}

.photo {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}
.photo form {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  width: 35vw;
  min-height: 50vh;
  background-color: rgba(70, 70, 70, 0.95);
  padding: 1vw;
  box-shadow: 0 10px 23px -3px rgba(0, 0, 0, 0.75);
  border-radius: 7px;
  color: #797878;
  /* Reset Select */
  /* Remove IE arrow */
  /* Custom Select */
  /* Arrow */
  /* Transition */
}
@media (max-width: 1200px) {
  .photo form {
    width: 50vw;
    padding: 5%;
    margin: 5%;
  }
}
@media (max-width: 800px) {
  .photo form {
    width: 70vw;
  }
}
@media (max-width: 400px) {
  .photo form {
    width: 80vw;
  }
}
.photo form input {
  width: 100%;
  padding: 4%;
  margin: 3%;
  height: 2rem;
  border: solid 2px white;
  border-radius: 7px;
}
.photo form select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #ffffff;
  background-image: none;
}
.photo form select::-ms-expand {
  display: none;
}
.photo form .select {
  position: relative;
  display: -webkit-box;
  display: flex;
  flex-shrink: 0;
  width: 100%;
  height: 5rem;
  margin: 3%;
  line-height: 5rem;
  background: #ffffff;
  overflow: hidden;
  border-radius: 7px;
}
@media (max-width: 1200px) {
  .photo form .select {
    height: 3rem;
    line-height: 3rem;
  }
}
.photo form select {
  -webkit-box-flex: 1;
          flex: 1;
  padding: 0 0.5em;
  cursor: pointer;
}
.photo form .select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #5683b5;
  color: white;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: 0.25s all ease;
  transition: 0.25s all ease;
}
.photo form .select:hover::after {
  color: #FF9770;
}
.photo form .opcja {
  width: 50%;
  padding: 4%;
  margin: 5%;
}
.photo form .zarejestruj {
  color: white;
  font-weight: bold;
}
.photo form .btn {
  background-color: #5683b5;
  width: 50%;
  border: none;
  color: white;
  padding: 2%;
  border-radius: 7px;
}
.photo form .btn:hover {
  cursor: pointer;
  color: #56b56c;
  background-color: white;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}
.photo form .remember-wrap {
  padding: 2%;
  width: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
@media (max-width: 800px) {
  .photo form .remember-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
  }
}
.photo form .remember-wrap input {
  width: auto;
  padding: 0;
  margin: 0;
  height: auto;
}
.photo form .remember-wrap a {
  color: #eb6363;
  text-decoration: none;
}
.photo form .remember-wrap a:hover {
  color: white;
}
.photo form a {
  font-size: 1.3rem;
  padding: 4%;
  color: white;
  text-decoration: none;
}
@media (max-width: 1200px) {
  .photo form a {
    font-size: 1rem;
  }
}
.photo form a:hover {
  color: #e6896a;
}

.alert-wrap {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.53);
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
}
.alert-wrap .alert {
  background-color: white;
  border-radius: 7px;
  padding: 2%;
}
.alert-wrap a {
  color: #FF9770;
  text-decoration: none;
}

.footer {
  margin-top: 50px;
  background-color: #182231;
  color: white;
  font-size: 18px;
  display: -webkit-box;
  display: flex;
  justify-content: space-around;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  padding-bottom: 2%;
}
@media (max-width: 700px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
  }
}
.footer .wrapix {
  width: 40%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}
@media (max-width: 700px) {
  .footer .wrapix {
    width: 90%;
    padding: 5%;
  }
}
.footer .foto {
  border: solid 7px white;
  border-radius: 2px;
  width: 30%;
  padding: 5%;
  background-image: url("/nopis/storage/app/public/layout/student.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  color: #FF9770;
  text-shadow: 2px 2px 10px black;
  font-family: "Bangers", cursive;
}
@media (max-width: 700px) {
  .footer .foto {
    width: 90%;
    border: none;
  }
}

#rodoTarget {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.59);
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  cursor: pointer;
  color: #454545;
}

.rodoInside {
  background-color: white;
  padding: 25px;
  width: 80vw;
  overflow-y: scroll;
}
@media (max-width: 600px) {
  .rodoInside {
    height: 100%;
  }
}

.egzaminy-zdj, .notes-zdj {
  color: white;
  min-height: 50vh;
  background-image: url("/layout/student.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
  padding: 5vh 10vw 5vh 10vw;
  margin-bottom: 50px;
}
.egzaminy-zdj .dodaj, .egzaminy-zdj .pokaz, .notes-zdj .dodaj, .notes-zdj .pokaz {
  display: block;
  margin-top: 15px;
  width: 200px;
  text-align: center;
  background-color: #ff9770;
  color: white;
  padding: 15px;
  border-radius: 10px;
  font-size: 20px;
}
.egzaminy-zdj .dodaj:hover, .egzaminy-zdj .pokaz:hover, .notes-zdj .dodaj:hover, .notes-zdj .pokaz:hover {
  cursor: pointer;
}
.egzaminy-zdj .egzaminy-wrap, .notes-zdj .egzaminy-wrap {
  min-height: 30vh;
  background-color: #182231;
  padding: 25px;
  border-radius: 12px;
  width: 35vw;
  padding-bottom: 100px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: center;
          align-items: center;
}
@media (max-width: 750px) {
  .egzaminy-zdj .egzaminy-wrap, .notes-zdj .egzaminy-wrap {
    border-radius: 0;
  }
}
.egzaminy-zdj .egzamin, .notes-zdj .egzamin {
  margin-top: 20px;
  width: 90%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
}
.egzaminy-zdj .egzamin-nazwa, .notes-zdj .egzamin-nazwa {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: #ff9770;
  color: white;
  width: 70%;
  padding: 15px;
}
.egzaminy-zdj .egzamin-data, .notes-zdj .egzamin-data {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  background-color: white;
  color: #797878;
  width: 30%;
  padding: 15px;
}
.egzaminy-zdj .egzamin-download, .notes-zdj .egzamin-download {
  width: 30%;
  padding: 15px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #3b98d5;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
}
.egzaminy-zdj .egzamin-download form, .notes-zdj .egzamin-download form {
  width: 100%;
}
.egzaminy-zdj .egzamin-download button, .notes-zdj .egzamin-download button {
  width: 100%;
  height: 100%;
  border: none;
  background-color: #3b98d5;
}
.egzaminy-zdj .egzamin-przyciski, .notes-zdj .egzamin-przyciski {
  text-align: center;
}
.egzaminy-zdj .egzamin-przyciski a, .notes-zdj .egzamin-przyciski a {
  text-decoration: none;
}
.egzaminy-zdj .egzamin-przyciski h1, .notes-zdj .egzamin-przyciski h1 {
  font-size: 45px;
  text-shadow: 2px 2px 10px black;
}
.egzaminy-zdj .notes-small, .notes-zdj .notes-small {
  display: none;
}
@media (max-width: 1300px) {
  .egzaminy-zdj .egzaminy-wrap, .notes-zdj .egzaminy-wrap {
    width: 50vw;
  }
}
@media (max-width: 900px) {
  .egzaminy-zdj, .notes-zdj {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-pack: end;
            justify-content: flex-end;
    padding: 5vh 2vw 0 2vw;
  }
  .egzaminy-zdj .egzaminy-wrap, .notes-zdj .egzaminy-wrap {
    width: 100%;
    margin-top: 100px;
    background-color: rgba(24, 34, 48, 0.76);
  }
  .egzaminy-zdj .egzamin-przyciski, .notes-zdj .egzamin-przyciski {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    -webkit-box-align: center;
            align-items: center;
    justify-content: space-around;
  }
  .egzaminy-zdj .dodaj, .egzaminy-zdj .pokaz, .notes-zdj .dodaj, .notes-zdj .pokaz {
    margin-top: 0;
    width: auto;
    padding: 10px;
    font-size: 18px;
    margin-left: 15px;
  }
  .egzaminy-zdj .notes-small, .notes-zdj .notes-small {
    display: -webkit-box;
    display: flex;
  }
  .egzaminy-zdj .notes-big, .notes-zdj .notes-big {
    display: none;
  }
}
@media (max-width: 430px) {
  .egzaminy-zdj .egzaminy-wrap .egzamin, .notes-zdj .egzaminy-wrap .egzamin {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
  }
  .egzaminy-zdj .egzaminy-wrap .egzamin .egzamin-nazwa, .egzaminy-zdj .egzaminy-wrap .egzamin .egzamin-data, .egzaminy-zdj .egzaminy-wrap .egzamin .egzamin-download, .notes-zdj .egzaminy-wrap .egzamin .egzamin-nazwa, .notes-zdj .egzaminy-wrap .egzamin .egzamin-data, .notes-zdj .egzaminy-wrap .egzamin .egzamin-download {
    width: 100%;
    border-radius: 0;
  }
}

.notes-zdj {
  background-image: url("/layout/blank.jpg");
}

.lista-head {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}
.lista-head h1 {
  display: inline;
}
.lista-head .dodaj {
  text-align: center;
  background-color: #ff9770;
  color: white;
  padding: 10px;
  border: none;
  width: 20%;
}
@media (max-width: 750px) {
  .lista-head {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
  }
  .lista-head .dodaj {
    width: 50%;
  }
}

.lista-row {
  width: 70%;
  margin: auto;
}

.add-forms {
  background-image: url("/layout/man.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 90vh;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
}
.add-forms form {
  width: 40vw;
  background-color: rgba(24, 34, 48, 0.96);
  padding: 65px;
  margin-top: 50px;
  margin-bottom: 50px;
  color: white;
  font-size: 17px;
  box-shadow: 10px 10px 45px 0px rgba(0, 0, 0, 0.75);
}
.add-forms form .input-wrap {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  margin-top: 10px;
}
.add-forms form .input-wrap label {
  font-weight: bold;
}
.add-forms form .input-wrap input, .add-forms form .input-wrap select {
  color: black;
  padding: 7px;
}
.add-forms form .pliki {
  background-color: #ff9770;
  margin-bottom: 15px;
  padding: 7px;
}
.add-forms form button {
  width: 30%;
  background-color: #3b98d5;
  border: none;
  padding: 7px;
}
.add-forms form button:hover {
  cursor: pointer;
}
.add-forms form textarea {
  color: black;
  padding: 7px;
  margin-top: 15px;
  margin-bottom: 10px;
  width: 100%;
}
@media (max-width: 1300px) {
  .add-forms form {
    width: 60vw;
  }
}
@media (max-width: 7500px) {
  .add-forms form {
    width: 80vw;
  }
}
@media (max-width: 560px) {
  .add-forms form {
    width: 100vw;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.form-wrap {
  background-color: #182231;
}

.wyszukiwanie-form {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
          justify-content: space-between;
  color: white;
}
.wyszukiwanie-form .input-wrap {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  margin-top: 10px;
  width: 20%;
}
.wyszukiwanie-form .input-wrap label {
  font-weight: bold;
}
.wyszukiwanie-form .input-wrap input, .wyszukiwanie-form .input-wrap select {
  color: black;
  padding: 7px;
}
.wyszukiwanie-form button {
  width: 20%;
  background-color: #3b98d5;
  border: none;
  padding: 7px;
}
.wyszukiwanie-form button:hover {
  cursor: pointer;
}
@media (max-width: 720px) {
  .wyszukiwanie-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-align: center;
            align-items: center;
  }
  .wyszukiwanie-form .input-wrap {
    width: 80%;
  }
  .wyszukiwanie-form button {
    width: 50%;
    margin-top: 15px;
  }
}
@media (max-width: 560px) {
  .wyszukiwanie-form .input-wrap {
    width: 100%;
  }
  .wyszukiwanie-form button {
    width: 80%;
  }
}

.komurka-wrap {
  background-color: #dddddd;
  margin-top: 10px;
  margin-bottom: 10px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-align: center;
          align-items: center;
  justify-content: space-around;
  padding: 30px;
  padding-left: 40px;
}
.komurka-wrap .komurka {
  width: 15%;
}
.komurka-wrap .tabela-opis {
  font-weight: bold;
  font-size: 20px;
}
.komurka-wrap button {
  background-color: #3b98d5;
  border: none;
  padding: 7px;
  color: white;
}
.komurka-wrap button:hover {
  cursor: pointer;
}
@media (max-width: 750px) {
  .komurka-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-align: baseline;
            align-items: baseline;
  }
  .komurka-wrap .komurka {
    padding: 10px;
    width: 100%;
  }
}

.komurka-opis-wrap {
  background-color: #182231;
  color: white;
}
@media (max-width: 750px) {
  .komurka-opis-wrap {
    display: none;
  }
}

.nie-ma {
  text-align: center;
  background-color: white;
  padding: 20px;
  color: #182231;
}

.nie-ma-home {
  background-color: #ff9770;
  color: white;
  border-radius: 10px;
  padding: 20px;
  margin-top: 10px;
}